<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework1</key>
	<string>fce75a4a39396b0af3d2182477e42cf97cf3965e</string>
	<key>framework2</key>
	<string>8fafa0bef44c01c5ebae9f6ac093f9a05adf42bd</string>
</dict>
</plist>
