<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework1</key>
	<string>0a9220d3d62c8b6fc8c907f751184ba38e10bfd1</string>
	<key>framework2</key>
	<string>8fafa0bef44c01c5ebae9f6ac093f9a05adf42bd</string>
</dict>
</plist>
