<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework1</key>
	<string>dff724ef25541ec70b35046331441d4b4a8b9bae</string>
	<key>framework2</key>
	<string>8fafa0bef44c01c5ebae9f6ac093f9a05adf42bd</string>
</dict>
</plist>
